<% include ../partials/header %>


<div class="col-sm-10 col-sm-10 col-sm-offset-1" id="yelpresults">

<% yelpResults.forEach(function(result, idx){ %>

 <div class="well">
  <p class=""><strong>Name: </strong><%= result.name %></p>
  <p class=""><strong>Address: </strong><%= result.address %></p>
  <p class=""><strong>Phone Number: </strong><%= result.phone %></p>
  <p class=""><strong>Rating: </strong><%= result.rating %></p>
  <p class=""><strong>Food Types: </strong><%= result.categories %></p>
  <form class="yelptodb form" action="/yelptodb" method="post">
      <input type="hidden" name="name" value="<%= result.name %>">
      <input type="hidden" name="address" value="<%= result.address %>">
      <input type="hidden" name="phone" value="<%= result.phone %>">
      <input type="hidden" name="yelpRating" value="<%= result.rating %>">
      <input type="hidden" name="foodType" value="<%= result.categories %>">

      <button type="hidden" class="btn btn-primary btn-xs btn-block" id="addtodbbutton">Add to Our List!</button>
    </form>
</div>

 <% }) %>




</div>


<% include ../partials/footer %>